<!DOCTYPE html>
<html lang="{{app.request.locale|split('_')[0]}}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Connectez-vous à votre compte pour accéder à des fonctionnalités personnalisées. Gérez vos informations, explorez du contenu exclusif et interagissez avec la communauté."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicons/favicon-512x512.png" />
        <title>Connectez-vous</title>
        <meta name="author" content="Lahotte"/>
        <meta name="copyright" content="Lahotte"/>
        <script>
            const _TARGET_PATH = "{{referer}}"
            const _CSRF_TOKEN = "{{ csrf_token('authenticate') }}"
            const _ERROR = "{{ error ? (error.messageKey | trans(error.messagedata, 'security')) : '' }}"
            const _LAST_USERNAME = "{{last_username}}"
            const _SIGN_UP_URL = "{{signUpUrl}}"
            const _TRANSLATIONS = {{TRANSLATIONS|json_encode|raw}}
            const _THEME = {{THEME|json_encode|raw}}
        </script>
        <script src="/bundles/user_account/script.js" defer></script>
        <link rel="stylesheet" href="/bundles/user_account/style.css" />
    </head>
    <body>
        <div id="login-page"></div>
    </body>
</html>